{% set here_path = public_html_directory + "/" + g.variables.unsw_session + "/" + directory_relative_pathname %}

{% import "templates/change_log.mac" as ChangeLog %}

{% set changelog = [
    {
        'version': '1.0',
        'datetime': '2019-10-15 16:59:59',
        'changes': [
            "Initial release onto unsuspecting students.",
        ],
    },
    {
        'version': '1.1',
        'datetime': '2019-10-25 18:10:00',
        'changes': [
            "The reference implementation now uses a signed comparison for SLT.",
            "The reference implementation now implements sign extension for LB and LH.",
            "The reference implementation now prints a '!' after instructions not required by the assignment.",
        ],
    },
    {
        'version': '1.2',
        'datetime': '2019-10-28 16:00:00',
        'changes': [
            "The reference implementation now behaves more like SPIM with syscall 12.",
            "Updated registers.[ch] to follow new c_check rules when possible",
        ],
    },
    {
        'version': '1.3',
        'datetime': '2019-10-28 19:00:00',
        'changes': [
            "The reference implementation now prints bitwise immediates as unsigned",
        ],
    },
    {
        'version': '1.4',
        'datetime': '2019-10-29 08:00:00',
        'changes': [
            "syscall handling clarified",
        ],
    },
    {
        'version': '1.5',
        'datetime': '2019-10-29 11:30:00',
        'changes': [
            "Fixed typo in registers.h",
        ],
    },
    {
        'version': '1.6',
        'datetime': '2019-11-03 00:20:00',
        'changes': [
            "The reference implementation now stops execution on SYSCALL 10",
        ],
    },
] %}

{{ ChangeLog.summary(changelog) }}

<h2>Aims</h2>

<ul>
<li>Understanding encoding of MIPS instructions
<li>Understanding semantics of MIPS instructions
<li>Generally building a concrete understanding of an example CPU
<li>Practising C, including bit operations
</ul>

<h2>Getting Started</h2>
<p>
Create a new directory for this assignment
called <code>{{name}}</code>,
change to this directory,
and fetch the provided code
by running these commands:

<pre is="tty">
<kbd is="sh">mkdir {{name}}</kbd>
<kbd is="sh">cd {{name}}</kbd>
<kbd is="sh">{{course_number}} fetch {{name}}</kbd>
</pre>

{### provided paths not available on assignments
<p>
Or, if you're not working on CSE,
you can download the provided code
as a <a href="provided.zip">zip file</a>
or a <a href="provided.tar">tar file</a>.
#}


<h2>The Assignment</h2>
<p>
You have been given files which
provide code for <strong>emu</strong>, a MIPS emulator.

<p>
However, two important functions —
<em>print_instruction</em> and <em>execute_instruction</em> —
remain to be completed.
Your task is to implement these functions.

<h3>Part 1: implementing <em>print_instruction</em></h3>

<p>
The first part of the assignment is
to implement the function <code>print_instruction</code>
in <code>print_instruction.c</code>.
<code>print_instruction</code> is given
a MIPS instruction as a 32-bit unsigned integer value,
You need to add code to <code>print_instruction</code>
which prints out the assembler for the instruction.

{{include_code("files.cp/print_instruction.c")}}

<p>
For example, <code>print_instruction(0x00851820)</code> should print <code>add $3, $4, $5</code>.

<p>
Tables below describe how MIPS instructions are encoded.
There is also a reference implementation which you can use
if you are unclear what string should be printed for an instruction.

<p>
<strong>emu</strong> takes several command-line arguments.
The <code>-p</code> option indicates the rest of the command is
hexadecimal integers describing instructions
that <em>print_instruction</em> will be called on —
for example:

<pre is="tty">
<kbd is="sh">make</kbd>
dcc     emu.c ram.c registers.c execute_instruction.c print_instruction.c   -o emu
<kbd is="sh">./emu -p 0x00851820</kbd>
[00400024] 00851820 add $3, $4, $5
</pre>

<p>
The code you have been given prints
<code>[00400024] 00851820 </code>:
the first part is the address this instruction would be placed,
and the second part is the number passed.
Your code only needs to print <code>add $3, $4, $5</code>,
the instruction that value encodes.

<p>
<code>emu -p</code> will also accept assembler statements,
each of which it will convert to integers,
and <em>print_instruction</em> will be called on that result.
For example:

<pre is="tty">
<kbd is="sh">./emu -p 'add $3, $4, $5'</kbd>
[00400024] 00851820 add $3, $4, $5
</pre>

<p>
Remember to quote the assembler instructions, as in the above example.
This is needed because the <code>$</code> character
has a special meaning to the shell.

<p>
<strong>emu</strong> also has a <code>-P</code> option,
which takes a file of assembler statements,
converts them to integers,
and calls <em>print_instruction</em> for each integer, for example:

<pre is="tty">
<kbd is="sh">./emu -P print10.s</kbd>
[00400024] 34080001 ori $8, $0, 1
[00400028] 2901000B slti $1, $8, 11
[0040002C] 10200009 beq $1, $0, 9
[00400030] 00082020 add $4, $0, $8
[00400034] 34020001 ori $2, $0, 1
[00400038] 0000000C syscall
[0040003C] 3404000A ori $4, $0, 10
[00400040] 3402000B ori $2, $0, 11
[00400044] 0000000C syscall
[00400048] 21080001 addi $8, $8, 1
[0040004C] 0401FFF7 bgez $0, -9
[00400050] 03E00008 jr $31
</pre>

<p>
If you are uncertain what output is correct,
run the reference implementation on a CSE machine:

<pre is="tty">
<kbd is="sh">1521 emu -p 0x03E00008</kbd>
[00400024] 03E00008 jr $31
</pre>

<p>
The reference implementation can print (almost) all
MIPS instructions.

<p>
Instructions that print with a '!' after them can not be executed by the reference implementation,
and do not need to be printed or executed by your assignment code.

<p>
If you find a bug in the reference implementation,
please report it on the course forum.

<p>
The assembly files you have been given
will help you debug and test your <em>print_instruction</em>.
In addition, autotests are available
to help with your testing:

<pre is="tty">
<kbd is="sh">1521 autotest emu part1</kbd>
...
</pre>

<p>
If you create extra <code>.c</code> or <code>.h</code> files,
you will need to supply them explicitly to autotest; for example:

<pre is="tty">
<kbd is="sh">1521 autotest emu part1 extra1.c extra2.c extra3.h</kbd>
...
</pre>


<h3>Part 2: implementing <em>execute_instruction</em></h3>

<p>
The second part of the assignment is
to implement the function <code>execute_instruction</code>
in <code>execute_instruction.c</code>,
<code>execute_instruction</code> is given
a MIPS instruction as a 32-bit unsigned integer value,
You need to add code to <code>execute_instruction</code>
which implements the instruction.

{{include_code("files.cp/execute_instruction.c")}}

<p>
You implement instructions by appropriately calling the functions
<code>get_register</code>, <code>set_register</code>,
<code>get_byte</code> and <code>set_byte</code>.
<code>execute_instruction</code> must also update the program counter.

<p>
<strong>emu</strong> has a <code>-e</code> option,
will also accept assembler statements,
convert them to integers,
and calls <em>execute_instruction</em> for each integer,
then print the value of registers.
For example:

<pre is="tty">
<kbd is="sh">./emu -e 'add $4, $14, $12'</kbd>
R0  [$zero] = 00000000
R1  [$at] = 00000000
R2  [$v0] = 00000000
R3  [$v1] = 00000000
R4  [$a0] = 0000000A
R5  [$a1] = 00000000
R6  [$a2] = 00000000
R7  [$a3] = 00000000
R8  [$t0] = 00000000
R9  [$t1] = 00000001
R10 [$t2] = 00000002
R11 [$t3] = 00000003
R12 [$t4] = 00000004
R13 [$t5] = 00000005
R14 [$t6] = 00000006
R15 [$t7] = 00000007
R16 [$s0] = 00000000
R17 [$s1] = 00000000
R18 [$s2] = 00000000
R19 [$s3] = 00000000
R20 [$s4] = 00000000
R21 [$s5] = 00000000
R22 [$s6] = 00000000
R23 [$s7] = 00000000
R24 [$t8] = 00000000
R25 [$t9] = 00000000
R26 [$k0] = 00000000
R27 [$k1] = 00000000
R28 [$gp] = 10008000
R29 [$sp] = 7FFFF8E4
R30 [$fp] = 00000000
R31 [$ra] = 00400018
</pre>

<p>
Note that <strong>emu</strong> sets registers 9 to 16
to the values 1 through 7 before execution
to have convenient values available for testing single instructions.

<p>
<strong>emu</strong> also has a <code>-E</code> option,
which like <code>-P</code> takes a file of assembler statements,
converts them to integers,
and calls <em>execute_instruction</em> multiple times to execute them.
For example:

<pre is="tty">
<kbd is="sh">./emu -E sum_100_squares.s</kbd>
338350
</pre>

<p>
<strong>emu</strong> can also be run interactively:

<pre is="tty">
<kbd is="sh">./emu add_memory.s</kbd>
PC = [00400024] 34080011 ori $8, $0, 17
emu > <kbd>h</kbd>
In interactive mode, available commands are:
    s       step (execute one instruction)
    r       execute all remaining instructions
    q       quit
    h       this help message
    P       print Program
    R       print Registers
    D       print Data segment
    S       print Stack segment
    T       print Text segment
Entering nothing will re-send the previous command.

emu > <kbd>R</kbd>
R0  [$zero] = 00000000
R1  [$at] = 00000000
R2  [$v0] = 00000000
R3  [$v1] = 00000000
R4  [$a0] = 00000000
R5  [$a1] = 00000000
R6  [$a2] = 00000000
R7  [$a3] = 00000000
R8  [$t0] = 00000000
R9  [$t1] = 00000001
R10 [$t2] = 00000002
R11 [$t3] = 00000003
R12 [$t4] = 00000004
R13 [$t5] = 00000005
R14 [$t6] = 00000006
R15 [$t7] = 00000007
R16 [$s0] = 00000000
R17 [$s1] = 00000000
R18 [$s2] = 00000000
R19 [$s3] = 00000000
R20 [$s4] = 00000000
R21 [$s5] = 00000000
R22 [$s6] = 00000000
R23 [$s7] = 00000000
R24 [$t8] = 00000000
R25 [$t9] = 00000000
R26 [$k0] = 00000000
R27 [$k1] = 00000000
R28 [$gp] = 10008000
R29 [$sp] = 7FFFF8E4
R30 [$fp] = 00000000
R31 [$ra] = 00400018
PC = [00400024] 34080011 ori $8, $0, 17
emu > <kbd>s</kbd>
PC = [00400028] 3C011001 lui $1, 4097
emu > <kbd>s</kbd>
PC = [0040002C] AC280000 sw $8, 0($1)
emu > <kbd>D</kbd>
[10000000..1000FFFC] 00000000
[10010000] 00000011
[10010004] 00000019
[10010008] 0000002A
</pre>

<p>
The assembly files you have been given
will help you debug and test your <em>execution_instruction</em>.
In addition, autotests are available
to help with your testing:

<pre is="tty">
<kbd is="sh">1521 autotest emu part2</kbd>
...
</pre>

<p>
As before,
if you create extra <code>.c</code> or <code>.h</code> files,
you will need to supply them explicitly to autotest; for example:

<pre is="tty">
<kbd is="sh">1521 autotest emu part2 extra1.c extra2.c extra3.h</kbd>
...
</pre>


<h2>MIPS Architecture</h2>
<p>
You only need to implement the following subset of
instructions and system calls;
<strong>emu</strong> will only be tested on these.

<h3>MIPS Instructions</h3>
<p>
You need to implement only this subset of MIPS instructions:

{% set instruction_set = [
    ('add', 'add $d, $s, $t', 'd = s + t', '0x20', '000000ssssstttttddddd00000100000'),
    ('subtract', 'sub $d, $s, $t', 'd = s - t', '0x22', '000000ssssstttttddddd00000100010'),
    ('multiply to low', 'mul $d, $s, $t', 'd = s * t', '0x02', '011100ssssstttttddddd00000000010'),
    ('and', 'and $d, $s, $t', 'd = s & t', '0x24', '000000ssssstttttddddd00000100100'),
    ('or', 'or $d, $s, $t', 'd = s l t', '0x25', '000000ssssstttttddddd00000100101'),
    ('xor', 'xor $d, $s, $t', 'd = s ^ t', '0x26', '000000ssssstttttddddd00000100110'),
    ('shift left', 'sllv $d, $t, $s', 'd = t << s', '0x4', '000000ssssstttttddddd00000000100'),
    ('shift right', 'srlv $d, $t, $s', 'd = t >> s', '0x6', '000000ssssstttttddddd00000000110'),
    ('set on less than', 'slt $d, $s, $t', 'd = (s < t)', '0x2A', '000000ssssstttttddddd00000101010'),
    ('add immediate', 'addi $t, $s, I', 't = s + I', '0x8', '001000ssssstttttIIIIIIIIIIIIIIII'),
    ('and with immediate', 'andi $t, $s, I', 't = s & I', '0xC', '001100ssssstttttIIIIIIIIIIIIIIII'),
    ('or with immediate', 'ori $t, $s, I', 't = s l I', '0xD', '001101ssssstttttIIIIIIIIIIIIIIII'),
    ('xor with immediate', 'xori $t, $s, I', 't = s ^ I', '0xE', '001110ssssstttttIIIIIIIIIIIIIIII'),
    ('shift left immediate', 'sll $d, $t, I', 'd = t << I', '0x0', '00000000000tttttdddddIIIII000000'),
    ('shift right immediate', 'srl $d, $t, I', 'd = t >> I', '0x2', '00000000000tttttdddddIIIII000010'),
    ('set on less than immediate', 'slti $t, $s, I', 't = (s < I)', '0xA', '001010ssssstttttIIIIIIIIIIIIIIII'),
    ('load upper immediate', 'lui $t, I', 't = I << 16', '0xF', '00111100000tttttIIIIIIIIIIIIIIII'),
    ('load byte', 'lb $t, O($b)', 't = *(int8*)(b + O)', '0x20', '100000bbbbbtttttOOOOOOOOOOOOOOOO'),
    ('load half word', 'lh $t, O($b)', 't = *(int16*)(b + O)', '0x21', '100001bbbbbtttttOOOOOOOOOOOOOOOO'),
    ('load word', 'lw $t, O($b)', 't = *(int32*)(b + O)', '0x23', '100011bbbbbtttttOOOOOOOOOOOOOOOO'),
    ('store byte', 'sb $t, O($b)', '*(uint8*)(b + O) = (t & 0xff)', '0x28', '101000bbbbbtttttOOOOOOOOOOOOOOOO'),
    ('store half', 'sh $t, O($b)', '*(uint16*)(b + O) = (t & 0xffff)', '0x29', '101001bbbbbtttttOOOOOOOOOOOOOOOO'),
    ('store word', 'sw $t, O($b)', '*(uint32*)(b + O) = t', '0x2B', '101011bbbbbtttttOOOOOOOOOOOOOOOO'),
    ('branch on equal', 'beq $s, $t, I', 'if (s == t) PC += I<<2; else PC += 4;', '0x4', '000100ssssstttttIIIIIIIIIIIIIIII'),
    ('branch on not equal', 'bne $s, $t, I', 'if (s != t) PC += I<<2; else PC += 4;', '0x5', '000101ssssstttttIIIIIIIIIIIIIIII'),
    ('branch less than or equal than zero', 'blez $s, I', 'if (s <= 0) PC += I<<2; else PC += 4;', '0x6', '000110sssss00000IIIIIIIIIIIIIIII'),
    ('branch greater than zero', 'bgtz $s, I', 'if (s > 0) PC += I<<2; else PC += 4;', '0x7', '000111sssss00000IIIIIIIIIIIIIIII'),
    ('branch on less than zero', 'bltz $s, I', 'if (s < 0) PC += I<<2; else PC += 4;', '0x0', '000001sssss00000IIIIIIIIIIIIIIII'),
    ('branch on greater than or equal to zero', 'bgez $s, I', 'if (s >= 0) PC += I<<2; else PC += 4;', '0x1', '000001sssss00001IIIIIIIIIIIIIIII'),
    ('jump', 'j X', 'PC = (PC & 0xF0000000) | (X << 2)', '0x2', '000010XXXXXXXXXXXXXXXXXXXXXXXXXX'),
    ('jump and link', 'jal X', '$ra = PC + 4; PC = (PC & 0xF0000000) | (X << 2)', '0x3', '000011XXXXXXXXXXXXXXXXXXXXXXXXXX'),
    ('jump register', 'jr $s', 'PC = s', '0x8', '000000sssss000000000000000001000'),
    ('system call', 'syscall', 'determined by $v0', '0x??', '00000000000000000000000000001100'),
] %}

<table class="table table-sm table-striped">
<thead>
<tr><th style="width:20%;">Assembler
    <th>Description
    <th>C
    <th>Bit Pattern
</thead>
<tbody>
{% for (description, assembler, C, op_code, bit_pattern) in instruction_set %}
<tr><th scope="row"><code>{{assembler}}</code>
    <td>{{description}}
    <td>{{C|safe}}
    <td><code>{{bit_pattern}}</code>
{% endfor %}
</tbody>
</table>

<p>
The instruction 'Bit Pattern' uniquely identifies each instruction:
<ul>
<li><code>0</code>: Literal bit zero
<li><code>1</code>: Literal bit one
<!-- <li><code>-</code>: Literal bit zero or one -->
<li><code>X</code>: Immediate, print as hex with '0x' prefix
<li><code>I</code>: Immediate, print as dec
<li><code>b</code>: Base register field (number is the N in $N)
<li><code>O</code>: Offset immediate, print as dec
<li>[lowercase letter]: Register field (number is the N in $N)
</ul>

<p>
Arithmetic instruction should assume
registers contain a signed 32-bit number.
Arithmetical instruction should not attempt
to stop overflows as a result of their operation.

<p>
Every instruction has a <code>PC += 4</code> after the operation,
except for instruction that directly change the program counter,
such as branches or jumps.

<h3>System Calls</h3>
<p>
You only need to implement this subset of system calls.

{% set syscall_set = [
    ('print integer', '1', '$a0 = integer to print', ''),
    ('print string', '4', '$a0 = address of NUL-terminated string to print', ''),
    ('read integer', '5', '', '$v0 = integer read'),
    ('read string', '8', '$a0 = address of input buffer<br />$a1 = maximum number of characters to read', ''),
    ('exit', '10', '', ''),
    ('print character', '11', '$a0 = character to print', ''),
    ('read character', '12', '', '$v0 = character read'),
] %}

<table class="table table-sm table-striped">
<thead>
<tr><th style="width:10%;">Request
    <th>Description
    <th>Arguments
    <th>Results
</thead>

<tbody>
{% for (description, v0, arguments, results) in syscall_set %}
<tr><th scope="row">{{v0}}
    <td>{{description}}
    <td>{{arguments|safe}}
    <td>{{results}}
{% endfor %}
</tbody>
</table>

<p>
Read String should read bytes until a newline is read or <code>$a1 - 1</code> bytes
have been read.  It should fill the remainder of the buffer with zero bytes.
<p>
This means that a string will always be null-terminated
and that any spare space in the buffer will be filled with zero bytes.

<p>
Print Character should print the lowest 8 bits of <code>$a0</code>.
<p>
You do not have to implement error handling for syscalls.  You can assume a valid syscall number is supplied.
You can assume valid arguments are supplied.
You can assume any I/O (scanf, fgetc, fputc, fgets, printf) succeeds.


<h2>Assumptions and Clarifications</h2>

<p>
Like all good programmers,
you should make as few assumptions as possible.

<p>
You can assume that
your functions are given only valid instructions
as listed in the table above,
and that memory accesses are valid.

<p>
You do not have to implement
MIPS instructions, system calls, or features
which are not explicitly mentioned in the tables above.
In particular,
you do not have to implement or consider
delay slots or traps,
which are beyond the scope of this assignment.

<p>
If in doubt, match the output of the reference implementation.

<p>
You must submit <code>execute_instruction.c</code> and <code>print_instruction.c</code>.
You cannot not change the supplied files
(<code>emu.c</code>, <code>emu.h</code>,
 <code>ram.c</code>, <code>ram.h</code>,
 <code>registers.c</code>, and <code>registers.h</code>).
You may optionally submit extra <code>.c</code> or <code>.h</code> files;
if you do, add extra <code>.c</code> files
to your <code>emu.mk</code> to ensure your code compiles.
You may not submit other files.

<p>
Your submitted code must be C only.
You may call functions from the standard C library
(<abbr>e.g.</abbr>,
functions from <code>stdio.h</code>,
<code>stdlib.h</code>, <code>string.h</code>, etc.)
and the mathematics library (<code>math.h</code>).
You may use <code>assert.h</code>.

<p>
You may not submit code in other languages.
You may not use <code>system</code>
or other C functions to run external programs.
You may not use functions from other libraries;
in other words, you cannot use dcc's <code>-l</code> flag.

<p>
If you need clarification on
what you can and cannot use or do for this assignment,
ask in the class forum.

<p>
You are required to submit
intermediate versions of your assignment.
See below for details.

<p>
Your program must not require extra compile options.
It must compile with <code>dcc *.c -o emu</code>,
and it will be run with <code>dcc</code> when marking.
Run-time errors from illegal C will cause your code to fail automarking.
<p>
If your program writes out debugging output,
it will fail automarking tests:
make sure you disable debugging output before submission.
<h2>Change Log</h2>
{{ ChangeLog.render(changelog) }}
